{% extends 'base.html' %}

{% block content %}
<html>
<body>
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welome to the Poem section</h1>
          <p>This is where some amazingly awesome haikus are chillin'.</p>
          <p><a class="btn btn-primary btn-lg" href="http://www.edu.pe.ca/stjean/playing%20with%20poetry/Hennessey/howtohaiku.htm" role="button">Learn to write a Haiku &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Haiku Ambulance</h2>
            <p>A piece of green pepper <br>
               fell<br>
               off the wooden salad bowl:<br>
               so what?</p>
            <p><a class="btn btn-secondary" href="https://www.poets.org/poetsorg/poem/haiku-ambulance" role="button">Richard Brautigan</a></p>
          </div>
          <div class="col-md-4">
            <h2>Lines on a Skull</h2>
            <p>Start spirit behold<br>
              the skull. A living head loved<br>
              earth. My bones resign...
            </p>
            <p><a class="btn btn-secondary" href="https://www.poets.org/poetsorg/poem/lines-skull" role="button">Ravi Shankar</a></p>
          </div>
          <div class="col-md-4">
            <h2>Having Slept, The Cat Gets Up</h2>
            <p>Having slept, the cat gets up,<br>
               yawns, goes out<br>
               to make love.</p>
            <p><a class="btn btn-secondary" href="https://www.poemhunter.com/poem/hey-sparrow/#content" role="button">Kobayashi Issa</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
    </body>
  </html>
{% endblock %} 
