{% extends 'base.html' %}

{% block content %}

<html>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
         {% for message in messages %}
           <li style="color:green">{{ message }}</li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1> {{ session['username'] }} IS LOGGED IN, YOU FOUND THE SECRET PAGE </h1>
    <img src="/static/images/secret.jpg" alt="TOP SECRET" class="center">
  </body>
</html>

{% endblock %}
