{% extends 'base.html' %}

{% block content %}

<html>
  <body>
    {% if error %}
      <p class=error style="color: green;"><strong>Error:</strong> {{ error }}
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
         {% for message in messages %}
           <li style="color:green">{{ message }}</li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1> {{ session['username'] }} IS LOGGED IN, YOU FOUND THE SECRET PAGE </h1>
  </body>
</html>

{% endblock %}
